{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section>>
        <div class="image image-overlay" style="background-image:url({% static "images/background.jpg" %})"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center vh-md-100">
                <div class="col-md-10 col-lg-5">

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">

                            <form method="post" action="{% url 'enquiry' %}">
                                {{ form }}
                                <div class="col-12 mt-2">
                                    <button class="btn btn-primary"> Send</button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}