{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <head>
        <title>500</title>
    </head>
    <body>


    <!-- 404 -->
    <section class="py-0 text-white">
        <div class="image image-overlay" style="background-image:url({% static "images/background-5.jpg" %})"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center vh-100">
                <div class="col-10 col-md-8 col-lg-4 text-center">
                    <h1 class="display-1 font-weight-bold"><strong>500</strong></h1>
                    <p class="lead">The page you were looking for wasn't found, if you think this might be a mistake <a
                            href="{% url 'contact-us' %}" class="d-inline-block underline">drop us a line</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}